

  @keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
  }
  .modal--close,.modal--open{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    animation: fadeOut 1s;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
  }
  .modal--open{
    display: flex;
    animation: fadeIn 1s;
  }
  .close{
    cursor: pointer;
    display: block;
    background: gray;
    width: 50px;
    float: right;
  }
  .modal span{
    color: white;
    font-size: 20px;
  }
  .modalText{
    width: 100%;
    display: inline-block;
  }